*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 4px 2px 2px rgb(29, 9, 9);
    border-radius: 6px;
    
    margin: 40vh 90vh;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(12, 231, 23);
    color: red;
}